<% provide(:title, "About") %>

<div class="w3-container">
  <div class="w3-panel">
    <h1>Our Story</h1>
    <p>Established online in 2021, MovieHats is your choice for authentic and genuine hats that have appeared in famous Hollywood movies.</p>
    <p>There is no secret to MovieHats success story, it has been built on our unrivalled customer service, our wide range of stylish props at competitive prices and our exceptionally fast delivery.</p>
    
    <p>We understand that everyone has individual styles and specific needs, and we take pride in ensuring each customer gets the attention and service that they need. It is of the utmost importance to us that everyone leaving our shop is smiling.</p>
    <p>This service is extended through our website, so customers can email us or give us a call and we will gladly assist with any query. We want you to have as pleasurable experience as possible.</p>
  </div>
</div>