<% provide(:title, "Returns") %>

<div class="w3-container">
    <div class="w3-panel">
        <h1>Shipping and Returns Policy</h1>

        <p>Here at MovieHats we aim for all customers to be completely satisfied with the products purchased from us. If this is not the case, please get in touch with us. We take great care in ensuring that on our website each product is presented in its true representation.</p>
        We use An Post and International Couriers to ship around the world.</p>

        <p><strong>Shipping</strong></p>
        <p><i>Ireland and Northern Ireland</i></p>
        <p>Free deliveries on orders over €50. Orders under the value of €50 will incur a standard delivery charge of €5.00. Orders are processed Monday to Friday and you will receive your order within 1-2 working days.</p>
        <p>Orders placed on the weekend will be dispatched first thing Monday. During peak times deliveries may take slightly longer than expected. In the event that the delivery address is unoccupied, couriers will generally call back later the same day or on the following day. For this reason, a business address is always preferable as a delivery address. A phone number for the delivery address/recipient is always necessary in the event that the courier needs to make contact.</p>
        <p><strong>UK</strong></p>
        <p>Delivery is free to the UK on orders over €99. Orders under that value will incur a standard delivery charge of €9.95 for 10kg. Deliveries take 2-3 working days.</p>
        <p>Europe and Rest of World Shipping rates for 10kg are as follows:</p>
        <p>€9.95 to: Belgium – France – Germany – Luxembourg – Netherlands – Austria – Denmark – Switzerland – Finland</p>
        <p>€13.95 to: Czech Republic – Hungary – Italy – Poland – Sweden – Slovenia – Slovakia</p>
        <p>€19.95 to: Spain Mainland – Norway – Portugal</p>
        <p>€22.95 to: Bulgaria – Estonia – Lithuania – Latvia – Romania – Spain</p>
        <p>An Post operates a ship by weight facility for deliveries to all other destinations.</p>
        <p><strong>Returns</strong></p>
        <p>Please make sure to check your delivery once it arrives as any shortages must be notified on receipt of your parcel. Our Policy on returns and exchanges is that all of our product (apart from the non-refundable items listed below) can be returned for an exchange or refund within 28 days of receipt. To be eligible for a return:</p>
        <p>•	Items must be unused.</p>
        <p>•	Items must be in the same condition in which they were received.</p>
        <p>•	Items must be in their original packaging.</p>
        <p>•	We will accept cancellations on our products at any time prior to dispatch.</p>
        <p><strong>Non Refundable Products</strong></p>
        <p>•	Items which have been damaged</p>
        <p>•	Parts of a product which have been lost after receipt</p>
        <p><strong>Refunds</strong></p>
        <p>Refunds will be given in accordance with the method of payment. Please note we do not pay for cost of returns under this guarantee.</p>
        <p><strong>Late or Missing Refunds</strong></p>
        <p>There is often some processing time before a refund is completed but please contact us at info@MovieHats.ie if a refund has not been credited within 10 days of confirmation from us.</p>
        <p><strong>Sales items </strong></p>
        <p>Only regular priced items may be refunded, unfortunately, items that are on sale cannot be refunded.</p>
        <p><strong>Damaged Goods</strong></p>
        <p>If items are damaged during transit, then we will replace them free of charge once the original product has been returned to us. In order for the event of this occurring, you will also receive a full refund on any postage costs you incurred for the return of same.</p>
        <p><strong>Shipping</strong></p>
        <p>Please pack products up as they were delivered and return them to: MovieHats, 7 Yellow Brick Road, Oz, Ireland.</p>
        <p>Please note – We can’t guarantee that we will receive your returned item. Therefore, you should consider either using a trackable shipping service or purchasing shipping insurance.</p>
    </div>
</div>