<div class="w3-container">
    <h1>Editing Item</h1>
    <%#  if user_signed_in? && current_user.admin? %>
    <%= link_to 'Show', @item, :class => "w3-button w3-orange w3-hover-green w3-round-large w3-margin-left", :role => "button" %> 
    <%= link_to 'Back', items_path, :class => "w3-button w3-orange w3-hover-green w3-round-large w3-margin-left", :role => "button" %>
    <%= render 'form', item: @item %>
    <%# end %>
</div>
